<form>
  <div>
    <h1>Weather Cast</h1>
    <div>
      <label for="search">Enter the name of your city: </label>
      <div>    
        <input type="text" id="search" name="search">
      </div>
    </div>
  </div>
  <div>
    <input type="submit" id="searchBtn" value="Search">
  </div>      
</form>

<div id="result"></div>